.nav-at-top{
    position: absolute !important;
    z-index: 3 !important;
    width: 100% !important;
    top: 0 !important;
}
.header{
  position: absolute;
  width: 100%;
  z-index: 2;
}
.welcomeMessageContainer{
  width: 100vw;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  flex-wrap: wrap;
  background: url('Welcome.jpg');
  background-position: 50% 0;
  background-size: cover;
  /* background-repeat: no-repeat; */
  height: 100vh;
  z-index: 1;
}

.welcomeMessage{
    position: absolute;
    left: 30px;
    text-transform: uppercase;
    font-weight: lighter;
    border-left: 3px solid black;
    padding-left: 10px;
    top: 150px;
}
