.nav-at-top{
    position: absolute !important;
    z-index: 3 !important;
    width: 100% !important;
    top: 0 !important;
}

.login-content{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: url('login.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.login-form-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: absolute;
  /* background: url('login.jpg'); */
  background-size: cover;
  background-repeat: no-repeat;
  top: 50%;
  transform: translate(0%,-50%);
}

.login-form{
  padding: 10px;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 5px;
  background: rgba(0,0,0,0.1);
}

.img-container{

}

.max-width-350{
  max-width: 500px;
  margin: 10px 0px !important;
}

.width-110{
  width: 100px;
  display: flex;
  justify-content: center;
}
